Sort a Dictionary by Value
Write a Python script to sort (ascending and descending) a dictionary by value.

2. Add a Key to a Dictionary
Write a Python script to add a key to a dictionary.

Sample Dictionary:

{0: 10, 1: 20}
Expected Result:

{0: 10, 1: 20, 2: 30}
3. Concatenate Multiple Dictionaries
Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionaries:

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
Expected Result:

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
4. Generate a Dictionary with Squares
Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

Sample Dictionary (n = 5):

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
5. Dictionary of Squares (1 to 15)
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

Expected Output:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
Set Exercises
1. Create a Set
Write a Python program to create a set.

2. Iterate Over a Set
Write a Python program to iterate over sets.

3. Add Member(s) to a Set
Write a Python program to add member(s) to a set.

4. Remove Item(s) from a Set
Write a Python program to remove item(s) from a given set.

5. Remove an Item if Present in the Set
Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
my_dict = {'name':'John', 'age': 25, 'city':'Tashkent', 'year_of_born':2000}

my_dict_desc = sorted(my_dict, reverse=True)
my_dict_desc

my_dict_acs = sorted(my_dict, reverse=False)

my_dict_acs

['age', 'city', 'name', 'year_of_born']

In [ ]:
my_cost = {'apple': 1500, 'banana':2000, 'apelsin':1000, 'apricot':800, 'Orange': 3000}
my_values = list(my_cost.values())
# we want to sort by descending
my_values.sort(reverse=True)
my_values

[3000, 2000, 1500, 1000, 800]

In [ ]:
my_values.sort(reverse=False)
# if want to sort by ascending
my_values

[800, 1000, 1500, 2000, 3000]

In [ ]:
you_dict = {0:10, 1:20}
# we want to add items to dictionary
you_dict[2] = 30

print(you_dict)

{0: 10, 1: 20, 2: 30}

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
# we concanate dictionary
dic4 = (dic1) | (dic2) | (dic3) 
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [40]:
n = int(input())
squares_dict = {}

for i in range(1, n+1):
    squares_dict[i] = i*i

squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [42]:
squares_dict_to_15 = {}

for i in range(1, 16):
    squares_dict_to_15[i] = i*i

squares_dict_to_15

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [43]:
my_list = [10,  20, 30, 20, 30, 40, 50]

my_set = set(my_list)

my_set

{10, 20, 30, 40, 50}

In [44]:
for i in my_set:
    print(i)

40
10
50
20
30

In [ ]:
my_set.add(100)
my_set

{10, 20, 30, 40, 50, 100}

In [ ]:
my_set
# method discard too remove elements from set
my_set.discard(50)
my_set

{10, 20, 30, 40, 100}

In [50]:
my_set = {'banana', 'apple', 'pineapple'}

item_to_remove = 'apple'

my_set.remove(item_to_remove)

print('Update set', my_set)

Update set {'banana', 'pineapple'}