Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

In [2]:
fruits = ['banan', 'Olma', 'Anor','Kiwi', 'Qulupnay']

print(fruits[2])

Anor

In [3]:
var1 = [1, 3, 5, 7, 9]
var2 = [2, 4, 6, 8, 10]

var3 = var1 + var2

print(var3)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [6]:
nums = [2, 4, 5, 7, 6, 11, 14, 15, 10]

first = nums[0]

middle = nums[len(nums)//2]
last = nums[-1]

overall = [first, middle, last]

print(overall)

[2, 6, 10]

In [7]:
fav_movies = ['John Wick', 'Mission imposible', 'Avatar', 'Anna', 'Lucie']

movie_tuple = tuple(fav_movies)

print(movie_tuple)

('John Wick', 'Mission imposible', 'Avatar', 'Anna', 'Lucie')

In [8]:
cities = ['London', 'Madrid', 'Paris', 'Stambul', 'Tashkent']

print('Paris' in cities)

True

In [9]:
numbers = [1, 2, 3, 4, 5, 6]

dublicate = numbers * 2

print(dublicate)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [10]:
num1 = [2, 3, 4, 5, 6, 7]

# swap first and last

num1[0], num1[-1] = num1[-1], num1[0]

print(num1)

[7, 3, 4, 5, 6, 2]

In [13]:
touple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(touple[3:8])

(4, 5, 6, 7, 8)

In [14]:
colors = ['red', 'blue', 'white', 'black', 'blue', 'red', 'blue']

cnt = colors.count('blue')
print(cnt)

3

In [20]:
animals = ('cat', 'dog', 'lion', 'tiger', 'elephant')
#Find index of 'lion'

index = animals.index('lion')

print("Index of 'lion' :", index)

Index of 'lion' : 2

In [ ]:
aa = (1, 2, 3, 4, 5)
bb = (5, 7, 8, 9, 10)
#merge two tuples
cc = aa + bb

print(cc)

(1, 2, 3, 4, 5, 5, 7, 8, 9, 10)

In [ ]:
xy = [1, 3, 6, 7, 10]
xz = (10, 13, 15)
#find the lenght of list and tuple
print(len(xy))
print(len(xz))

5
3

In [ ]:
tn = (1, 2, 4, 6, 7, 8, 10)
# convert tuple to lists
cnt = list(tn)

print(cnt)

[1, 2, 4, 6, 7, 8, 10]

In [27]:
cte = (2, 5, 7, 10, 13, 32, 45, 39)

print('min of cte:', min(cte))
print('max of cte:',max(cte))

min of cte: 2
max of cte: 45

In [ ]:
ctn = (1, 3, 5, 7, 9, 10)
# reverse a tuple
print(ctn[::-1])

(10, 9, 7, 5, 3, 1)