In [2]:
import sqlite3

In [7]:
with sqlite3.connect('test2.db') as conn:
    cursor = conn.cursor()
    cursor.execute('DROP table if exists Roster')
    create = 'create table Roster (Name text, Species text, Age int)'
    result = cursor.execute(create)

    insert = """insert into Roster values
    ('Benjamin Sisko',	'Human', 40),
    ('Jadzia Dax',	'Trill', 300),
    ('Kira Nerys',	'Bajoran',	29)"""
    cursor.execute(insert)

In [5]:
with sqlite3.connect('test2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""update Roster 
                   set Name = 'Erzi Dax' 
                   where Age = 300""")
    conn.commit()

In [6]:
with sqlite3.connect('test2.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""
            select Name, Age from Roster
                   where Species = 'Bajoran'
""")

rows = cursor.fetchall()

for row in rows:
    print(f"Name: {row[0]}, Age: {row[1]} ")

conn.close()

Name: Kira Nerys, Age: 29

[]