In [3]:
txt = input('Enter a string: ')
vowels = 'aeiouAEIOU'
i = 3

while i < len(txt):
    if txt[i - 1] in vowels or (i < len(txt) and txt[i] == '_'):
        i += 1
        continue 
    txt = txt[:i] + '_' + txt[i:]
    i += 4
    

if txt.endswith('_'):
    txt = txt[:-1] 

print("Modified string:", txt)

Modified string: hel_lo

In [8]:
n = int(input())

for i in range(n):
    if n > 0:
      print(i**2)
    else:
       print()

In [9]:
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
n = int(input())
sum = 0
for i in range(1, n + 1):
    sum += i
print(sum)

10

In [31]:
n = int(input())
for i in range(1, 11):
    print(n*i)

2
4
6
8
10
12
14
16
18
20

In [32]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 70 and num < 500 and  num != 180:
        print(num)

75
150
145

In [39]:
a = 75869
b = str(a)
print(len(b))

5

In [ ]:
for i in range(5, 0, -1):   # from 5 down to 1
    for j in range(i, 0, -1):  # from i down to 1
        print(j, end=' ')

    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [44]:
list1 = [10, 20, 30, 40, 50]
list2 = list1[::-1]
for i in list2:
    print(i)

50
40
30
20
10

In [46]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [47]:
for i in range(5):
    print(i)
print('Done!')

0
1
2
3
4
Done!

In [62]:


for num in range(25, 51):
    if num > 1:
        for j in range(2, int(num**0.5) + 1):
            if num % j == 0:
                break
        else:
              print(num)

29
31
37
41
43
47

In [67]:
a, b = 0, 1

print("Fibonacci sequence:")

for _ in range(10):
    print(a, end=' ')
    a, b = b, a + b

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [73]:
n = int(input())
fc = 1
for i in range(1, n+1):
    fc *= i
print(fc)

2432902008176640000

In [76]:
from collections import Counter

list1 = input()

list2 = input()

c1 = Counter(list1)
c2 = Counter(list2)

diff1 = c1 - c2
diff2 = c2 - c1

result = list(diff1.elements()) + list(diff2.elements())

print(result)

['1', '2', '3', '4', '5', '6']